.name {
    color: red;
    font-size: 120px;
    padding: 20px 0px 0px 60px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width:50%;
    margin: 0 auto;
}

.parallax-bg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-space {
    background-color:#0e0f11;
    height:250px;
}

.container {
    text-align: left;
    width:80%;
    margin: 0 auto;
    display: table;
    padding: 8em 0 8em 0;
    color:grey;
}

.container th h1 {
    font-size: 24px;
    color:#185875;
}

body {
    background-color:#0e0f11;
    color:#ffffff;
}

input {
    background-color:lightgrey;
}

.container {
    text-align: center;
    padding: 10px;
}

.autocomplete-suggestions {
    overflow: auto;
    border: 1px solid #CBD3DD;
    background: white;
    color:black;
}

.autocomplete-selected {
    background: lightblue;
}