Fabflix/.idea
.DS_Store
Fablix/*.iml
Fablix/target
Fablix/src/RecaptchaConstants.java
Parser/.idea
Parser/*.iml
Parser/target
Parser/actors.xml
Parser/casts.xml
Parser/movies.xml
Parser/report.txt
./idea