Fabflix/.idea
.DS_Store
Fabflix/*.iml
Fabflix/target
Fabflix/src/RecaptchaConstants.java
Parser/.idea
Parser/*.iml
Parser/target
Parser/actors.xml
Parser/casts.xml
Parser/movies.xml
./idea
Android/*.iml
Android/.gradle
Android/local.properties
Android/.idea
Android/.DS_Store
Android/build
Android/captures
Android/app/build