body {
    background-color : #0e0f11;
    color : #ffffff
}

h1 {
    color: red;
    font-size: 60px;
    padding: 50px 0px 0px 0px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

h4 {
    color: red;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}